@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(rgb(86, 86, 235), rgb(5, 5, 199));
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: none;
  outline: 0;
  padding: 12px 25px;
  font-size: 18px;
  background-color: rgb(222, 237, 243);
  color: black;
  border-radius: 30px;
  flex: 1;
  margin-right: 12px;
}
.search button {
  border: none;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.search button img {
  width: 20px;
}

p {
  font-size: 24px;
}

h1 {
  font-size: 5rem;
}

.container {
  width: 100%;

  height: 100vh;

  padding-top: 40px;
}
.weather {
  width: 580px;

  padding: 30px;

  border-radius: 10px;

  margin: 50px auto;

  text-align: center;

  background-color: white;
}

.bold {
  font-weight: 700;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.w-img {
  height: 200px;
  width: 200px;
}

.feelsimg {
  height: 40px;
  margin-top: -10px;
}

.desc {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.back {
  text-align: start;
}

.backarrow {
  height: 20px;
  margin-top: -10px;
  margin-right: 10px;
}
