@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(rgb(86, 86, 235), rgb(5, 5, 199));
}


.title{
  text-align: start;
  color: #149bf3;

}

.titleline{
width: 600px;

}
.search {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: none;
  outline: 0;
  padding: 12px 25px;
  font-size: 18px;
  background-color: rgb(222, 237, 243);
  border: black solid 1px;

  color: black;
  text-align: center;
  flex: 1;
  margin-right: 12px;
}
.search button {
  border: none;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.search button img {
  width: 20px;
}

p {
  font-size: 24px;
}

h1 {
  font-size: 5rem;
}

.container {
  width: 100%;

  height: 100vh;

  padding-top: 40px;
}
.weather {
  width: 580px;

  padding: 30px;

  border-radius: 10px;

  margin: 50px auto;

  text-align: center;

  background-color: white;
}

.bold {
  font-weight: 700;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.w-img {
  height: 200px;
  width: 200px;
}

.feelsimg {
  height: 40px;
  margin-top: -10px;
}

.desc {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.back {
  text-align: start;
  color: #149bf3;
}

.backarrow {
  height: 20px;
  margin-top: -10px;
  margin-right: 10px;
}

.error {
  margin-top: 40px;
}

.or{
  margin-top: 20px;
  width: 510px;
}
.button-21 {
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-width: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  width: 510px;
  margin-right: 10px;
  margin-top: 20px;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}
